html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
input{
    outline: none;
    border: none;
}